@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<BookList>
@{

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary"> Book List </h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="BookList" asp-action="Create" class="btn btn-success">
                    <i class="bi bi-plus-square"></i> &nbsp; Add New Book
                </a>
            </div>
        </div>
        <br><br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Book Title    
                </th>
                <th>
                    Author
                </th>
                <th>
                    Published Year
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="25%">
                        @obj.Title
                    </td>
                    <td width="25%">
                        @obj.Author
                    </td>
                    <td width="25%">
                        @obj.PublisedYear
                    </td>
                    <td>
                        <div class="w-30 btn-group" role="group">
                            <a asp-controller="BookList" asp-action="Edit" asp-route-id="@obj.Id"
                               class="btn btn-primary"> <i class="bi bi-pen"></i> Edit </a> &nbsp &nbsp;
                        </div>
                        <div class="w-30 btn-group" role="group">
                            <a asp-controller="BookList" asp-action="Delete" asp-route-id="@obj.Id"
                               class="btn btn-danger"> <i class="bi bi-trash3"></i> Delete </a>
                        </div>
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>

    </div>

}
